@font-face {
  font-family: "Sans-Work";
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --margin-l-r: 0 5vw;
  --work: "Sans-Work";
  --inter: "Inter";
}

img {
  width: 100%;
  object-fit: contain;
}

/* #Header */

header {
  background-color: black;
  height: 70.7vh;
  position: relative;
  color: white;
  padding-bottom: 25vh;
}

.lineImg {
  height: 18vh;
  width: 1px;
  position: absolute;
  top: 0;
  left: 50%;
}

.topSection {
  position: relative;
  top: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header p {
  font-family: var(--work);
  font-size: 2em;
  padding-bottom: 2rem;
}

header h1 {
  font-family: var(--inter);
  font-size: 9.6em;
  line-height: 75%;
  
}

.style-h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: var(--work);
  padding-bottom: 1.5%;
}

nav img {
  width: 4.5%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-l-r);
  position: relative;
  top: 50%;
 
}

nav button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  line-height: 3vh;
  padding: 0 2%;
  border: 1px solid #aaaaaa;
}

nav button:hover{
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}


/* #MAIN */
.heroSection{
  background-color: black;
  height: 150vh;
  color: white;
  padding: var(--margin-l-r);
  
}

.hero{
  font-family: var(--inter);
  font-weight: 600;
  font-size: 8vw;
  line-height: 7.2vw;
  padding-bottom: 10vh;
}
.heroSection article p {
  font-family: var(--work);
  font-size: 1.4em;
  margin-bottom: 1vh;
}

.heroSection h2{
  font-size: 8.2em;
  font-family: var(--inter);
  font-weight: 600;
  margin-bottom: 2vh;
}

.mapPosition{
  position: relative;
}

.map{
position: absolute;
width: 38%;
left: 66%;
top: -20%;
}